<tbody>
            <% if (locals.reports) { %>
              <%  reports.forEach((report) => { %>
                
                <%# const date = new Date() %>
                <% const date = new Intl.DateTimeFormat("en-US").format(report.event_date) %>
                <%# console.log(date) %>
                <%# const fullDate = `${date.getMonth()+1}/${date.getDate()}/${date.getFullYear()}` %>
                <% const id = report.id %>
                <tr>
                  <td><%= date %></td>
                  <td><%= report.event_time %></td>
                  <td><%= report.report_title %></td>
                  <td><%= report.event_type %></td>
                  <td><%= report.details %></td>
                  <td><%= report.status %></td>
                  <td>File here</td>
                  <td>
                    <%# console.log(report.id) %>
                    <!-- <form id="form" action="/update/<%# report.id %>"  method="POST"> -->
                      <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#update" id="update-btn">
                        <i class="bi bi-gear-fill"></i>
                      </button>
                      
                    <!-- </form> -->
                    
                    
                    
                  </td>
                </tr>
                
                

              <% }); %>
          <% } else { %>
            <tr>
              <td>No data</td>
              <td>No data</td>
              <td>No data</td>
              <td>No data</td>
              <td>No data</td>
              <td>No data</td>
              <td>No data</td>
              <td><i class="bi bi-trash"></i></td>
            </tr>
            <% } %>
          </tbody>